@font-face
{
	font-family: 'Century Gothic';
	src: url("_fonte/GOTHIC.otf"); 
}

@font-face
{
	font-family: 'Century Regular';
	src: url("_fonte/Century.otf"); 
}

html
{
	font-family: 'Century Gothic', sans-serif;
}

body
{
	background-color: black;
}

header
{
	bottom: 0;

}

.navbar
{
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	background-color: white;
}

.button
{

	font-family: 'Century Gothic';
	font-size: 13pt;
	font-weight: bold;

	width: 200px;
	height: 50px;
	border: 0px ;
	color: black;
	background-color: white;
	cursor: pointer;

	transition-duration: 500ms;
}

.button:hover
{
	transform: scale(1.2);
	color: white;
	background-color: black;
}


.slidershow
{
	justify-content: center;
	background-color: none;
	overflow: hidden;
}

.slides
{
	width: 500%;
	height: 100%;	
	display: flex;
	opacity: 0.5;
	border-right: 1px solid white;
	border-left: 1px solid white;
}

.slide
{
	width: 20%;
	transition: .6s;
}

.slide img
{
	width: 100%;
	height: 100%;
}

.container-navigation
{
	position: relative;
	bottom: 20px;
	transform: translateX(35%);
	display: flex;
}

.slide h1
{
	position: absolute;
	display: flex;
	margin-top: 18%;
	width: 100%;
	height: 100%;
}

input[name="a"]
{
	position: absolute;
	visibility: hidden;
}

.nav-button
{

	width: 10%;
	height: 10px;
	border: 1px solid white;
	cursor: pointer;

	transition-duration: 500ms;
	background-color: white;
}

.nav-button:hover
{
	background-color: black;
}

#a1:checked ~ .s1
{
	margin-left: 0%;
}

#a2:checked ~ .s1
{
	margin-left: -20%;
}

#a3:checked ~ .s1
{
	margin-left: -40%;
}


.inicio
{
	margin-left: 10px;
}

.MConheca
{
	margin-right: 10px;
}

.listanav
{
	text-align: center;

}
 
#interface
{
	background-color: rgba(72,72,72,0.8);
	width: 90%;
	margin: -15px auto -20px auto;]
	box-shadow: 0px 0px 8px white;
}

#interface #secao
{
	display:;
	
	width: 100%;
	background-color: transparent;

	border-right: 1px solid white;
	border-left: 1px solid white;

}

#interface #secao #main 
{
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	color: white;
	background-color: transparent;
}

#interface #secao #main h1
{
	margin-top: 5%;
	font-size: 40pt;
	background-color: white;
	color: black;
	padding: 5px;
	font-family: 'Century Regular', sans-serif;

	text-align: center;
}

#interface #secao #main p
{
	font-size: 20.5pt;
}

#interface #lateral
{
	
	width: 100%;
	background-color: transparent;

	border-right: 1px solid white;
	border-left: 1px solid white;

}

#interface #lateral #lmain p
{
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	color: white;
	background-color: transparent;
	font-size: 20pt;
}

#interface #lateral #lmain h1
{
	margin-top: 3.5%;
	font-size: 40pt;
	background-color: white;
	color: black;
	padding: 5px;
	text-align: center;
	font-family: 'Century Regular', sans-serif;
}

#interface #lateral #lmain #container-foto
{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	background-color: transparent;

}

#interface #lateral #lamain #container-foto #y
{
	position: relative;
	display: flex;
	transform-style: preserve-3d;
	transform: rotate(0deg) skew(deg) ;


}


#interface #lateral #lmain #container-foto #y li
{
	position: relative;
	list-style: none;
	height: 600px;
	width: 400px;

}

#interface #lateral #lmain #container-foto #y li:before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transform-origin: top;
}


#interface #lateral #lmain #container-foto #y li:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transform-origin: right;

}


#interface #lateral #lmain #container-foto #y li span
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex !important;


	justify-content: center;
	align-items: center;
	transition: 5s;

	color: rgba(255,255,255, 0.2);

	fonte-size: 30px !important;
}

#interface #lateral #lmain #container-foto #y li:hover span
{
	z-index: 1000;
	transition: 1s;
}

#interface #lateral #lmain #container-foto #y li:hover span:nth-child(5)
{
	transform: translate(-41px, 0px);

	opacity: 1;
} 

#interface #lateral #lmain #container-foto #y li:hover span:nth-child(4)
{
	transform: translate(30px, 0px);
	opacity: 0.8;
}

#interface #lateral #lmain #container-foto #y li:hover span:nth-child(3)
{
	transform: translate(120px, 0px);
	opacity: .6;
}

#interface #lateral #lmain #container-foto #y li:hover span:nth-child(2)
{
	transform: translate(210px, 0px);
	opacity: 0.4;
}

#interface #lateral #lmain #container-foto #y li:hover span:nth-child(1)
{
	transform: translate(300px, 0px);
	opacity: 0.2;
}


#interface #lateral #lmain #container-foto #y span #imagem
{
	width: 100%;
	height: 100%;
}

#interface #rodape #sociais
{
	text-decoration: underline;
}

#interface #rodape 
{
	border-right: 1px solid white;
	border-left: 1px solid white;

	color: white;

	clear: both;
	padding: 2%;
	text-align: center;
}

#interface #rodape #sociais
{
	font-size: 130%;
}

.container-btn{
  text-align: center;
  margin-top: 2%;
}

.container-link
{
	text-align: center;
	margin: 5%;
}

.container-link .btnD
{
  padding: 10px 300px;  
  border: 1px solid white;
  background: none;
  font-size: 35px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: white;
}

.btnD::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgba(255,255,255,1);
  z-index: -1;
  transition: 0.7s;
}

.download::before
{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.download:hover::before
{
	height: 200px;
}

.fa
{
	transition: 0.5s;
}

.btn{
  border: 1px solid white;
  background: none;
  padding: 10px 70px;
  font-size: 35px;
  
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,.btn2{
  color: white;
}

.btn1:hover,.btn2:hover{
  color: #fff;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgba(255,255,255,1);
  z-index: -1;
  transition: 0.7s;
}
.btn1::before
{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before
{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn1:hover::before,.btn2:hover::before
{
  height: 200%;
}

.btn:hover .fa-instagram
{
	transform: scale(1.3);
	transform: scaleX(20px,0px);
}

.btn:hover .fa-whatsapp
{
		transform: scale(1.3);
	transform: translateX(100px);	
}

.btn:hover .fa-telegram
{
	transform: scale(1.3);
	transform: translateX(-100px);
}

.btn:hover  #n
{
	transform: scale(0.6);
	color: white;
}

#n
{
	display: block;
	text-align: center;
	margin-top: -40px;
	transform: scale(0.0);
	transition: .5s;
	color: none;
}